* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    background-color: #0a71c6;
}

header .nav-link {
    color: white;
}

header .navbar-brand {
    color: white;
}

.nav {
    margin-left: auto;
}

footer {
    background-color: #464444;
}

main {
    flex: 1;
    padding: 2rem 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

#Inicio {
    text-align: center;
    background-color: #44a3f2;
    padding: 20px;
}

#Inicio img {
    display: inline-block;
    /* Asegura que la imagen se trate como un elemento en línea */
}

#Inicio h4 {
    text-align: left;
}

#presentacion {
    text-align: left;
}

.section-title {
    text-align: center;
}

#Habilidades p {
    text-align: center;
}

#Habilidades h5 {
    text-align: center;
}