* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    background-color: rgb(59, 118, 245);
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav {
    margin-left: auto;
}

footer {
    background-color: #464444;
}

#resumen label {
    font-weight: bold;
}

main {
    flex: 1;
    padding: 2rem 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}